@import "tailwindcss";
@plugin "@tailwindcss/typography";

.heading-link img {
  visibility: hidden;
}

.heading-link:hover img {
  visibility: visible;
}

.docs-hidden {
  display: none;
}

pre, .lang-box {
  border-color: rgb(229, 231, 235);
  font-size: 0.95em;
}
