# Inherited from Vite
node_modules
.DS_Store
dist
dist-ssr
*.local

# IDEs and editors
.exrc
.vscode
.idea

# Coverage report generated using Jest + Istanbul
coverage

# Old docs generated on build
src/docs/old-docs
